//Importing Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

//Colors
$purple: #AB5CDB;
$dark: #0A0C1C;
$dark-blue: #1B1937;
$white: #f6f6f6;
$text: #d1d1d1;

@mixin center {
  margin-left: auto;
  margin-right: auto;
}

@mixin mobile-center {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: $dark;
  color: $white;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: $dark-blue;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  border-radius: .4rem;
  padding-bottom: 1.5rem;
  @include mobile-center;

  &__img {
    position: relative;
    background-image: url('../images/image-header-mobile.jpg');
    background-size: cover;
    min-height: 15rem;
    border-radius: .4rem .4rem 0 0; // to fit with the card border-radius
    margin-bottom: 3rem;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: $purple;
      opacity: .6;
      border-radius: inherit
    }

    @media(min-width: 750px) {
      background-image: url('../images/image-header-desktop.jpg');
      width: 50%;
      margin-bottom: 0;
      border-radius: 0 .4rem .4rem 0;
      order: 2;
    }
  }

  &__body {
    @include mobile-center;
    margin-bottom: 2rem;
    min-height: 10vh;
    display: grid;
    place-items: center;

    @media(min-width: 750px) {
      width: 50%;
      height: 100%;
      margin-bottom: 0;
      padding: .75rem;
      order: 1;
    }
  }

  &__title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__text {
    color: $text;
    font-size: 1.05rem;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  &__socialProof {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &__info {
      text-align: center;
    }

    &__number {
      font-weight: 600;
      font-size: 1.4rem;
    }

    &__text {
      text-transform: uppercase;
      color: $text;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }

  @media(min-width: 750px) {
    flex-direction: row;
    align-items: stretch;
    padding-bottom: 0;
  }
}

.accent {
  color: $purple;
}