/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Colors */
:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --veryDarkDesaturated-blue: hsl(229, 23%, 23%);
  --darkGrayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-size: 1.125;
  font-family: 'Kumbh Sans', sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: var(--dark-cyan);
  background-image: url('./images/bg-pattern-top.svg'), url('/images/bg-pattern-bottom.svg');
  background-size: 38rem 38rem, 38rem 38rem;
  background-position: top -10rem left -15rem, right -15rem bottom -10rem;
  background-repeat: no-repeat, no-repeat;
  overflow: hidden;
}

.card {
  position: relative;
  background-color: white;
  width: 90%;
  max-width: 30.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: .8rem;
}

.card__header {
  min-height: 12rem;
  background-image: url('./images/bg-pattern-card.svg');
  background-size: cover;
  border-radius: .8rem .8rem 0 0;
}

.card__img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 7rem;
  min-width: 9rem;
  border-radius: 100%;
  border: 8px solid white;
}

.card__body {
  padding-top: 6rem;
}

.card__name {
  font-size: 1.6rem;
  text-align: center;
  color: var(--veryDarkDesaturated-blue);
  font-weight: 700;
  margin-bottom: 1rem;
}

.card__age {
  margin-left: 1rem;
  font-weight: 500;
  color: var(--dark-gray);
}

.card__location {
  text-align: center;
  font-size: 1.2rem;
  color: var(--darkGrayish-blue);
  font-weight: 500;
  margin-bottom: 3rem;
}

.card__footer {
  border-top: 1px solid var(--dark-gray);
  padding: 2rem 0;
}

.card__social {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.card__social__info {
  text-align: center;
}

.card__social__info__number {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--veryDarkDesaturated-blue);
}

.card__social__info__text {
  font-size: 1.1rem;
  color: var(--darkGrayish-blue);
  letter-spacing: 1.5px;
}

@media only screen and (min-width: 800px) {
  body {
    background-size: 50rem 50rem, 50rem 50rem;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-size: 62rem 62rem, 62rem 62rem;
  }
}